/* Battle Component */
.battle-component {
    display: grid;
    grid-template-rows: 1fr auto 1fr;
    grid-template-columns: 1fr auto 1fr;
    gap: 1em;
}

.battle-component main {
    display: flex;
    flex-direction: row;
    grid-row: 2;
    grid-column: 2;
}
.game-notification{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
/* Hamster Display Component */
.hamster-display {
    border: 2px var(--color-card-text) solid;
    text-align: left;
    background-color: var(--color-card-background)
}
.hamster-display h4 {
    padding-left: 1em;
}
.hamster-display li {
    list-style-type: none;
}

.hamster-display img {
    object-fit: cover;
    width: 500px;
    height: 350px;
}
.hamster-display img:hover {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s;

    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}