.statistics {
    display: flex;
    justify-content: center;
    margin-bottom: 4em;
}

.statistics .list {
    margin: 0 5em 0 5em
}

.statistics i {
    margin-top: 160px;
}

i.fa-long-arrow-alt-up {
    color: #c3f0ca;
}

i.fa-long-arrow-alt-down {
    color: #ff8ba7;
}

.stats-list-item {
    padding: 1em;
    background-color: #faeee7;
    border: 2px solid #33272a;
    display: flex;
    width: 200px;
    box-shadow: 5px 5px 5px rgb(228, 217, 228);
}
.stats-list-item:hover {
    box-shadow: 5px 5px 5px #ffc6c7;
    transform: skew(1deg);
}
.stats-list-item .img-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 1em;
}

.statistics .info {
    display: flex;
    flex-direction: column;
}

.stats-list-item img {
    height: 80px;
    width: 80px;
    object-fit: cover;
    border-radius: 50%;
}