.App {
	text-align: center;
	/* background-color: #FCFAF4; */
	background-image: linear-gradient(rgb(232, 245, 255), #FCFAF4);
	min-height: 100vh;
}

.page-container nav {
	border-bottom: 1px solid black;
	display: flex;
	align-items: center;
	padding: 1rem;
	background-color: #FCFAF4;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 5;
}

.content-container {
	padding-top: 56px;
}

.landing-page {
	display: grid;
	grid-template-columns: 4fr 2fr;
	grid-template-rows: 90% 1fr;
}

.battle-icon {
	color: blueviolet;
}

.landing-page .left-box {
	grid-column: 1;
	grid-row: 1;
	padding: 24px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.landing-page .left-box .text {
	max-width: 50ch;
}

.landing-page .right-box {
	background-image: linear-gradient(rgb(243, 217, 255), #ffdd79);
	border-left: 1px solid black;
	height: 100vh;
	grid-column: 2;
	grid-row: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 24px;
}

.landing-page .right-box img {
	max-width: 80%;
}

.gallery {
	display: grid;
	grid-template-columns: 4fr 2fr;
}

.gallery-grid {
	grid-column: 1;
	grid-row: 1;
	display: grid;
	grid-template-columns: repeat(auto-fill, 300px);
	grid-template-rows: repeat(auto-fill, 200px);
	grid-row-gap: 24px;
	grid-column-gap: 24px;
	padding: 24px;
}

.gallery .right-box {
	border-left: 1px solid black;
	background-image: linear-gradient(rgb(243, 217, 255), #ffdd79);
	grid-column: 2;
	grid-row: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	padding: 24px;
}

.gallery-item {
	border: 0.5px solid black;
	background-image: linear-gradient(rgb(252, 247, 241), white);
	text-align: left;
	overflow: hidden;
	transition: box-shadow 200ms, transform 200ms;
}

.gallery-item:hover {
	box-shadow: 5px 5px 5px rgb(228, 217, 228);
	transform: skew(1deg);

}

.gallery-item .extra-details {
	display: none;
}

.extra-details #erase-btn {
	cursor: pointer;
	font-weight: 600;
	width: 100%;
}

.gallery-item:hover .extra-details {
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	list-style-type: none;
	background-color: rgba(255, 250, 254, 0.7);
	color: black;
	height: 200px;
}

.extra-details span {
	color: rgb(197, 70, 70);
}

.gallery-item img {
	object-fit: cover;
	width: 300px;
	height: 200px;
}

.gallery-item h3 {
	margin-left: 24px;
	position: sticky;
	z-index: 1;
}

.gallery-grid li {
	list-style-type: none;
}

span .icon {
	margin-right: 0.5em;
	transition: color 400ms;
}

.active-nav-class span .icon {
	color: rgb(255, 133, 255);
}

.input-modal {
	border: black 1px solid;
	padding: 2em;
	background-color: #FCFAF4;
}

.input-modal .row {
	display: flex;
	justify-content: space-between;
}

.input-modal .input-fields {
	width: 24ch;
	display: flex;
	flex-direction: column;
	width: 50%;
}

.input-fields label {
	margin-bottom: 1em;
	text-align: left;
}

.input-modal img {
	object-fit: cover;
	height: 160px;
}

.input-modal button {
	font-size: 1em;
	width: 200px;
	height: 2em;
	border-radius: 2em;
	letter-spacing: 0.2em;
	box-shadow: 5px 5px 0px 0px black;
	background-image: linear-gradient(.25turn, #ff8c00, #ff00cf, #feff00);
	transition: width 1.5s,
		letter-spacing 1.5s;
	margin-top: 2em;
}

.input-modal button:hover {
	width: 260px;
	letter-spacing: 0.4em;
}